.Rproj.user
.Rhistory
.RData
.gitattributes
*.log
*.aux
*.html
**/*.quarto_ipynb

/.quarto/
/_thesis

/chapters/1-Introduction_files
/chapters/3-Results_cache
/chapters/3-Results_files
/_freeze
/site_libs
/README_files

THESIS.*
msthesis-csulb.cls
